# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
WebApiDemo/bin/
WebApiDemo/obj/
WebApiDemo/Debug/
WebApiDemo/Release/

TestWebAPi/bin/
TestWebAPi/obj/
TestWebAPi/Debug/
TestWebAPi/Release/

# Others
*.log
*.vsidx